@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.wrapper {
  margin: auto;
  text-align: center;
}

.header {
  padding-inline: 40px;
  padding-block: 160px;
}

#container {
  font-size: 16px;
  background-color: white;
}

.number-container {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.number-div {
  align-self: center;
  font-weight: 700;
  font-size: 30px;
}

.odd {
  background-color: white;
  border: solid 6px #fbc9be;
}

.even {
  background-color: #fbc9be;
  border: solid 6px white;
}

.size-content-container {
  position: relative;
  padding-inline: 40px;
  padding-block: 80px;
  background-color: #fbc9be;
}

#size-select-container {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* justify-content: center; */
}

.size-divs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  background-color: white;
  border-radius: 40px;
}

.dough-content-container {
  position: relative;
  padding-inline: 40px;
  padding-block: 80px;
  background-color: white;
}

#dough-select-container {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.dough-divs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  background-color: #fbc9be;
  border-radius: 40px;
}

.topping-content-container {
  position: relative;
  padding-inline: 40px;
  padding-block: 80px;
  background-color: #fbc9be;
}

#topping-select-container {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* justify-content: center; */
}

.topping-divs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  background-color: white;
  border-radius: 40px;
}

.customer-content-container {
  position: relative;
  padding-inline: 40px;
  padding-block: 80px;
  background-color: white;
}

#customer-select-container {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.customer-divs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  background-color: #fbc9be;
  border-radius: 40px;
}

.customer-input {
  width: 30%;
  height: 40px;
  margin: auto;
  margin-top: 30px;

  border: 5px solid #fbc9be;
  border-radius: 20px;
}

input {
  text-align: center;
}

.submit-container {
    position: relative;
  padding-inline: 40px;
  padding-block: 80px;
  background-color: #fbc9be;
}
.submit-button {
  width: 30%;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  border: none;
}

@media only screen and (max-width: 500px) {
  .size-content-container,
  .dough-content-container,
  .customer-content-container {
    padding-inline: 10px;
  }
}
